{% extends "base.html" %}

{% block title %}Projects{% endblock %}

{% block content %}
<section class="card resume">
  <h3>Projects</h3>
  <ul>
    <li><a href="https://github.com/SamBa61/STAT190/tree/Sam-Tuck3" target="_blank">RShiny Dashboard</a></li>
    <li><a href="https://github.com/SamTuck29/machine-learning-classification" target="_blank">Machine Learning Classification Project</a></li>
    <li><a href="https://github.com/SamTuck29/logistic-regression-whitepaper" target="_blank">Logistic Regression Whitepaper</a></li>
  </ul>
</section>
{% endblock %}